.footer {
    width: 100%;
    background-color: #E6E6E6;
    border-top: 2px solid #999999;
    height: inherit;
    padding: 20px 0;
}

.footer-column {
    float: left;
    margin: 0 20px;
    width: 270px;
    font-size: .9em;
    line-height: 1.3em;
}

.header {
    padding-top: 5px;
    border-bottom: 1px solid #999999;
    height: 50px;
    color: #777777;
}

.content {
    min-height: 725px;
}

.pagetitle {
    float: left;
    font-size: 30px;
    margin-bottom: 18px;
    margin-left: 10px;
    margin-top: 12px;
}

h4 {
    font-weight: normal;
}

.section > p {
    font-size: small;
    padding-left: 35px;
    padding-right: 35px;
}

.optionButton {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

legend {
    font-size: 17.5px;
}

.blocks > div {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.btn-new {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary-new {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    font-family: 'OxygenRegular',Arial,sans-serif;
}

.btn-primary-new:hover {
    background-color: #3267b1;
    border-color: #285e8e;
}

.btn-primary-new:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
    font-family: 'OxygenRegular',Arial,sans-serif;
}

.btn-default:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-default:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

#login {
    color: #808080;
}

#password {
    color: #808080;
}

@font-face {
    font-family: "RobotoBlack";
    font-style: normal;
    font-weight: normal;
    src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Black-webfont.woff") format("woff"), url("Roboto-Black-webfont.ttf") format("truetype"), url("Roboto-Black-webfont.svg#RobotoBlack") format("svg");
}

@font-face {
    font-family: "OxygenRegular";
    font-style: normal;
    font-weight: normal;
    src: url("Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("Oxygen-webfont.woff") format("woff"), url("Oxygen-webfont.ttf") format("truetype"), url("Oxygen-webfont.svg#OxygenRegular") format("svg");
}